.vite/
.vscode/
.VSCodeCounter/
dist/
node_modules/
notes/**
public/data/**
public/images/ge/**

public/projectFiles/*

!public/projectFiles/global/
public/projectFiles/global/*
!public/projectFiles/global/global.json

!public/projectFiles/local/
public/projectFiles/local/*
!public/projectFiles/local/default.json

!public/projectFiles/partials/
public/projectFiles/partials/*
!public/projectFiles/partials/districts.json

public/UrbanPulse/**