:host {
    font-size: var(--font-size-secondary);
    font-family: var(--font-family-primary);

    display: block;
    width: 28%;
    max-height: 100%;
    background: rgba(38, 38, 38, 0.95);
    color: #edffff;
    border: 1px solid #444;
    border-right: none;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0 0 10px 1px #000;
    transform: translate(100%, 0);
    visibility: hidden;
    opacity: 0;
    transition:
        visibility 0s 0.2s,
        opacity 0.2s ease-in,
        transform 0.2s ease-in;
}

.title {
    display: block;
    height: 20px;
    padding: 5px 30px 5px 25px;
    background: rgba(84, 84, 84, 1);
    border-top-left-radius: 7px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: content-box;
}

:host:not([visible]) {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

:host([visible]) {
    visibility: visible;
    opacity: 1;
    transition:
        opacity 0.2s ease-out,
        transform 0.2s ease-out;
}

.table-wrapper {
    overflow: auto;
    max-width: 100%;
    max-height: min(350px, 80vh);
}

table {
    width: 100%;
    min-width: max-content;
    color: #edffff;
}

table tr:nth-child(odd) {
    background-color: rgba(84, 84, 84, 0.8);
}

table tr:nth-child(even) {
    background-color: rgba(84, 84, 84, 0.25);
}

table th {
    font-weight: normal;
    padding: 3px;
    vertical-align: middle;
    text-align: center;
}

table td {
    padding: 3px;
    vertical-align: middle;
    text-align: left;
}

.close {
    display: block;
    position: absolute;
    top: 7px;
    right: 5px;
    height: 1rem;
    background: transparent;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 16px;
    padding: 0 5px;
    margin: 0;
    color: #edffff;

    cursor: pointer;
}
