<div>
    <div class="group-wrapper">
        <div id="helix-status-bar" class="status-bar"></div>
        <div>
            <div id="header-div">
                <h1 id="name"></h1>
                <button id="close"><img id="close-img"></button>
            </div>
            <div class="helix-wrapper">
                <div id="helix-right">
                    <span id="helix-span"></span>
                    <div class="grid">
                        <div class="grid-element">
                            <img id="temperature-img">
                            <span id="temperature-span"></span>
                        </div>
                        <div class="grid-element">
                            <img id="humidity-img">
                            <span id="humidity-span"></span>
                        </div>
                        <div class="grid-element">
                            <img id="irradiation-img">
                            <span id="irradiation-span"></span>
                        </div>
                        <div class="grid-element">
                            <img id="pressure-img">
                            <span id="pressure-span"></span>
                        </div>
                        <div class="grid-element">
                            <img id="rain-img">
                            <span id="rain-span"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="group-wrapper">
        <div id="wind-status-bar" class="status-bar"></div>
        <div class="wind-wrapper">
            <div id="wind-right">
                <span id="wind-span"></span>
                <div class="grid">
                    <div class="grid-element">
                        <img id="windSpeedAvg-img">
                        <span id="windSpeedAvg-span"></span>
                    </div>
                    <div class="grid-element">
                        <img id="windDirectionAvg-img">
                        <span id="windDirectionAvg-span"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>