<div class="window">
    <div class="window__header">
        <div class="window__title-row">
            <div class="window__img-placeholder"></div>
            <h1 class="window__title"></h1>
            <button class="window__close-btn">
                <img draggable="false" src="./images/common/cross.svg"></img>
            </button>
        </div>
        <span class="window__subtitle">
        </span>
    </div>
    <div class="window__message-div">
        <p class="window__message"></p>
    </div>
</div>