<div class="wrapper">
    <div class="date-wrapper">
        <span class="toggle-label"></span>
        <ge-toggle class="toggle"></ge-toggle>
        <span class="calendar-label"></span>
        <input class="calendar" type="date">
    </div>
    <div class="time-wrapper">
        <div class="slider-wrapper">
            <span class="slider-label"></span>
            <ge-range class="slider" value="0" min="0" max="1425" step="15"></ge-range>
        </div>
        <span class="time"></span>
        <span class="time-label"></span>
    </div>
</div>