input {
    width: 80%;
    min-width: 2.5rem;
    size: max-content;
    height: 1rem;
}

div {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

label {
    color: white;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
}
