:host {
    color: var(--text-color-primary);
    background-color: var(--color-primary);
    font-size: var(--font-size-secondary);
    font-family: var(--font-family-primary);
}

.coords {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    float: right;
}

.coords span {
    flex-grow: 0;
    flex-shrink: 0;
}
